@page "/playgame/{gameid}"
@implements IDisposable
@using MarketMakingGame.Client.Lib
@inject GamePlayerViewModel GamePlayerViewModel
@inject UserDataEditorViewModel UserDataEditorViewModel

<style>
  .card-image-cls {
    width: 100%;
    height: 128px;
    max-width: 100%;
    max-height: 100%;
  }
  .card-group-cls {
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 100%;
    border-radius: 10px
  }
  .community-card-group-cls {
    background-color: darkgreen;
    width: 80%
  }
  .user-card-group-cls {
    background-color: darkorange;
    width: 20%
  }
  .card-content-cls {
    height: 100%;
    margin: 5px;
    text-align: center;
  }
  .card-panel-cls {
    gap: 30px;
  }
  .player-table {
    table-layout: fixed ;
    width: 100% ;
    border-radius: 10px;
  }
  .player-td {
    width: 10% ;
    font-size: 75%;
  }
  .dealer-actions-panel-cls {
    padding: 5px;
    border-style: dotted; 
    border-width: thin;
    border-color: lightgray; 
    border-radius: 10px;
    overflow: scroll;
  }
  .player-actions-panel-cls {
    display: flex;
    flex-flow: row;
    padding: 10px;
    border-style: dotted; 
    border-width: thin;
    border-color: lightgray; 
    border-radius: 10px;
    overflow: scroll;
  }
  .game-info-cls {
    border-style: solid; 
    border-color: lightgray; 
    border-radius: 10px; 
    border-width: thin; 
    padding: 3px; 
    background-color: #f5f5f5;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
</style>

<div>

  <AppTopBar />

  <p></p>
  <MatDivider />
  <p></p>

  @if (ViewModel.IsInitialized)
  {
    @if (ViewModel.JoinGameResponse.IsSuccess)
    {
      <div class="mat-elevation-z1 game-info-cls">
          <div >
            @ViewModel.JoinGameResponse.Game.GameName
          </div>
          <div>
          </div>
          <div>
            <MatTooltip Tooltip="Sum of the value of all cards, including your private card." Wrap="true">
              <div style="font-size: 75%; font-color: darkgray">
                Current Price: @ViewModel.FormatPrice(@ViewModel.IndicativePrice)
              </div>
            </MatTooltip>
          </div>
      </div>

      <p/>

      <div class="card-group-cls card-panel-cls">
          <div class="column card-group-cls user-card-group-cls mat-elevation-z5">
            <div class="card-content-cls">
              <MatTooltip Tooltip="Your private card" Wrap="true">
                <img class="card-image-cls" src="@ViewModel.GamePlayerCardImageUrl()"/>
              </MatTooltip>
            </div>
          </div>
          
          <div class="column card-group-cls community-card-group-cls mat-elevation-z5">
            @for (var i = 0; i < ViewModel.JoinGameResponse.Game.NumberOfRounds; ++i)
            {
              <div class="card-content-cls">
                <img class="card-image-cls" src="@ViewModel.GetCommunityCardImageUrl(i)"/>
              </div>
            }
          </div>
      </div>

      @if (ViewModel.PlayerUpdateResponse.IsDealer)
      {
        <p/>
        <div class="mat-elevation-z0 dealer-actions-panel-cls" >
          <div>
          <MatTooltip Tooltip="Click to deal next card" Wrap="true">
            <MatButton Outlined="true">
              Deal Card!
            </MatButton>
          </MatTooltip>
          &nbsp;
          <MatSlideToggle TValue="bool" Label="Allow Trading"></MatSlideToggle>
          </div>
        </div>
      }

      <p/>
      <div class="mat-elevation-z0 player-actions-panel-cls">
        <div class="player-actions-panel-cls">
          <MatNumericUpDownField Label="Your Bid"
                                   @bind-Value=@ViewModel.BidPrice
                                   FieldType="MatNumericUpDownFieldType.Currency"
                                   DecimalPlaces=2>
          </MatNumericUpDownField>
          &nbsp;
          <MatNumericUpDownField Label="Your Ask"
                                   @bind-Value=@ViewModel.AskPrice
                                   FieldType="MatNumericUpDownFieldType.Currency"
                                   DecimalPlaces=2>
          </MatNumericUpDownField>
          &nbsp;
          <MatTooltip Tooltip="Click to update quote" Wrap="true">
            <MatButton Outlined="true">
              Update!
            </MatButton>
          </MatTooltip>
        </div>
        &nbsp;
        <div class="player-actions-panel-cls">
          <MatTooltip Tooltip="Click to sell" Wrap="true">
            <MatButton Raised="true" style="background-color: red;">
              Best Bid: @ViewModel.FormatPrice(@ViewModel.BestBid)
            </MatButton>
          </MatTooltip>
          &nbsp;
          <MatTooltip Tooltip="Click to buy" Wrap="true">
            <MatButton Raised="true" style="background-color: limegreen;">
              Best Ask: @ViewModel.FormatPrice(@ViewModel.BestAsk)
            </MatButton>
          </MatTooltip>
        </div>
      </div>

      <p/>
      <MatTable Items="@ViewModel.PlayersData" ShowPaging="false" class="mat-elevation-z1 player-table">
          <MatTableHeader>
              <th style="font-size: 75%;">Player</th>
              <th style="font-size: 75%;">Bid</th>
              <th style="font-size: 75%;">Offer</th>
              <th style="font-size: 75%;">Pos Qty</th>
              <th style="font-size: 75%;">Pos Price</th>
          </MatTableHeader>
          <MatTableRow>
              <td class="player-td">
                <img src="@context.PlayerImageUrl" width=16 height=16/>
                @context.PlayerName
              </td>
              <td class="player-td">@ViewModel.FormatPrice(@context.Bid)</td>
              <td class="player-td">@ViewModel.FormatPrice(@context.Offer)</td>
              <td class="player-td">@ViewModel.FormatQty(@context.PositionQty)</td>
              <td class="player-td">@ViewModel.FormatPrice(@context.PositionPrice)</td>
          </MatTableRow>
      </MatTable>
    }
    else 
    {
      <h1>Error</h1>
      <p>@ViewModel.JoinGameResponse.ErrorMessage</p>
    }
  }
  else if (ViewModel.JoinGameResponse?.IsSuccess == false)
  {
    <h1>Error</h1>
    <p>@ViewModel.JoinGameResponse.ErrorMessage</p>
  }
  else
  {
    <p>Joining Game @GameId ...</p>
  }

</div>

@code {

  [Parameter]
  public string GameId { get; set; }

  public GamePlayerViewModel ViewModel => GamePlayerViewModel;

  protected override async Task OnInitializedAsync()
  {
    await UserDataEditorViewModel.InitViewModelAsync();
    if (!UserDataEditorViewModel.CheckValid().Success)
    {
      UserDataEditorViewModel.IsUserDataEditorOpen = true;

      while(!UserDataEditorViewModel.CheckValid().Success)
      {
        await Task.Delay(200);
      }
    }

    ViewModel.GameId = GameId;
    ViewModel.StateChanged += OnViewModelChanged;
    await ViewModel.InitViewModelAsync();


  }

  void OnViewModelChanged(EventArgs e)
  {
    StateHasChanged();
  }

  public void Dispose()
  {
    ViewModel.StateChanged -= OnViewModelChanged;
  }
}
