@page "/"
@implements IDisposable
@using Lib
@using MarketMakingGame.Shared.Messages
@using MarketMakingGame.Shared.Lib
@using Microsoft.Extensions.Logging;
@using Models
@using System.ComponentModel.DataAnnotations
@inject ILoggerProvider LoggerProvider
@inject AppService AppService

<MatDialog @bind-IsOpen="@userDataDialogOpen" CanBeClosed="false">
  <MatDialogTitle>Display Name and Avatar</MatDialogTitle>
  <MatDialogContent>
      <UserData/>
  </MatDialogContent>
  <MatDialogActions> 
      <MatButton OnClick="@OnUserDataDialogClickOk">OK</MatButton>
  </MatDialogActions>
</MatDialog>

@code
{
    bool userDataDialogOpen = false;

    void OpenUserDataDialog()
    {
        userDataDialogOpen = true;
    }

    void OnUserDataDialogClickOk()
    {
      var res = AppService.UserDataViewModel.IsDataValid();
      if (!res.Success)
      {
        return;
      }
      userDataDialogOpen = false;
    }
}

<MatButton OnClick="@OpenUserDataDialog">
  <img src=@($"https://avatars.dicebear.com/api/gridy/{AppService.UserDataViewModel.Data.AvatarSeed}.svg") width=32
height=32 />
  @AppService.UserDataViewModel.Data.DisplayName
</MatButton>
<MatDivider/>
<p></p>

<use href="svg-cards.svg#heart_1" x="0" y="0"/>

<BSJumbotron>
    <div class="form-group">
      <label>
        Mesage:
        <input @bind="messageInput" size="50" />
      </label>
    </div>
    <button @onclick="SendCreateGameRequest" disabled="@(!IsConnected)">Create Game</button>
    <button @onclick="SendJoinGameRequest" disabled="@(!IsConnected)">Join Game</button>
    <hr>
    <ul id="messagesList">
      @foreach (var message in messages)
                  {
                    <li>@message</li>
                  }
                </ul>
</BSJumbotron>

@code {
  private List<string> messages = new List<string>();
  private string messageInput;

  protected override async Task OnInitializedAsync()
  {
    AppService.UserDataViewModel.StateChanged += OnUserDataViewModelChanged;
    AppService.GameClient.OnIsConnectedChanged += OnIsConnectedChanged;
    AppService.GameClient.OnCreateGameResponse += OnCreateGameResponse;
    AppService.GameClient.OnJoinGameResponse += OnJoinGameResponse;
    await AppService.InitializeAsync();
    if (!AppService.UserDataViewModel.IsDataValid().Success)
    {
      OpenUserDataDialog();
    }
  }

  void OnUserDataViewModelChanged(EventArgs eventArgs)
  {
    Console.WriteLine("ViewModel Changed!");
    StateHasChanged();
  }

  void OnIsConnectedChanged(bool isConnected)
  {
    StateHasChanged();
  }

  void OnCreateGameResponse(CreateGameResponse message)
  {
    AddToMessageList(message);
  }

  void OnJoinGameResponse(JoinGameResponse message)
  {
    AddToMessageList(message);
  }

  void AddToMessageList<T>(T message)
  {
    messages.Add($"{message}");
    StateHasChanged();
  }

  Task SendCreateGameRequest()
  {
    var message = new CreateGameRequest()
    {
      UserName = AppService.UserDataViewModel.Data.DisplayName,
      GameName = messageInput
    };
    return AppService.GameClient.SendRequestAsync("CreateGame", message);
  }

  Task SendJoinGameRequest()
  {
    var message = new JoinGameRequest()
    {
      UserName = AppService.UserDataViewModel.Data.DisplayName,
      GameId = messageInput
    };
    return AppService.GameClient.SendRequestAsync("JoinGame", message);
  }

  public bool IsConnected => AppService.GameClient.IsConnected;

  public void Dispose()
  {
    AppService.UserDataViewModel.StateChanged -= OnUserDataViewModelChanged;
    AppService.GameClient.OnIsConnectedChanged -= OnIsConnectedChanged;
    AppService.GameClient.OnCreateGameResponse -= OnCreateGameResponse;
    AppService.GameClient.OnJoinGameResponse -= OnJoinGameResponse;
    AppService.Dispose();
  }
}